.cartitems {
    margin: 50px 100px; /* Initial margin */
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px; /* Adjusted gap for smaller screens */
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0px 30px; /* Adjusted margin for smaller screens */
    cursor: pointer;
}

.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitems-down {
    display: flex;
    margin: 50px 0px; /* Adjusted margin for smaller screens */
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px; /* Adjusted margin for smaller screens */
    gap: 30px; /* Adjusted gap for smaller screens */
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button {
    width: 200px; /* Adjusted width for smaller screens */
    height: 50px; /* Adjusted height for smaller screens */
    outline: none;
    border: none;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: #555;
}

.cartitems-promobox {
    width: 320px; /* Adjusted width for smaller screens */
    margin-top: 15px;
    padding-left: 20px;
    height: 50px; /* Adjusted height for smaller screens */
    background: #eaeaea;
    display: flex;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 200px; /* Adjusted width for smaller screens */
    height: 50px; /* Adjusted height for smaller screens */
}

.cartitems-promobox button {
    width: 150px; /* Adjusted width for smaller screens */
    height: 50px; /* Adjusted height for smaller screens */
    font-size: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .cartitems {
        margin: 40px 80px; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .cartitems {
        margin: 30px 60px; /* Adjusted margin for smaller screens */
    }

    .cartitems-format-main {
        gap: 30px; /* Further adjusted gap for smaller screens */
    }

    .cartitems-remove-icon {
        margin: 0px 20px; /* Further adjusted margin for smaller screens */
    }

    .cartitems-down {
        margin: 30px 0px; /* Further adjusted margin for smaller screens */
    }

    .cartitems-total {
        margin-right: 50px; /* Further adjusted margin for smaller screens */
        gap: 20px; /* Further adjusted gap for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .cartitems {
        margin: 20px 40px; /* Adjusted margin for even smaller screens */
    }

    .cartitems-format-main {
        grid-template-columns: 1fr; /* Change to single column layout for smaller screens */
        gap: 20px; /* Further adjusted gap for smaller screens */
    }

    .cartitems-remove-icon {
        margin: 0px 10px; /* Further adjusted margin for smaller screens */
    }

    .cartitems-down {
        margin: 20px 0px; /* Further adjusted margin for smaller screens */
    }

    .cartitems-total {
        margin-right: 30px; /* Further adjusted margin for smaller screens */
        gap: 10px; /* Further adjusted gap for smaller screens */
    }

    .cartitems-promobox {
        width: 220px; /* Further adjusted width for smaller screens */
        padding-left: 10px; /* Further adjusted padding for smaller screens */
    }

    .cartitems-promobox input {
        width: 120px; /* Further adjusted width for smaller screens */
    }

    .cartitems-promobox button {
        width: 100px; /* Further adjusted width for smaller screens */
    }
}
