.item {
    /* width: 350px; */ /* Initially commented out */
}

.item p {
    margin: 4px 0; /* Adjusted margin for smaller screens */
}

.item-prices {
    display: flex;
    gap: 10px; /* Adjusted gap between prices for smaller screens */
}

.item-price-new {
    color: #374151;
    font-size: 16px; /* Adjusted font size for smaller screens */
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 16px; /* Adjusted font size for smaller screens */
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
    .item {
        width: 300px; /* Adjusted width for smaller screens */
    }

    .item p {
        margin: 3px 0; /* Further adjusted margin for smaller screens */
    }

    .item-prices {
        gap: 8px; /* Further adjusted gap between prices for smaller screens */
    }

    .item-price-new,
    .item-price-old {
        font-size: 14px; /* Further adjusted font size for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .item {
        width: 250px; /* Adjusted width for even smaller screens */
    }

    .item p {
        margin: 2px 0; /* Further adjusted margin for even smaller screens */
    }

    .item-prices {
        gap: 6px; /* Further adjusted gap between prices for even smaller screens */
    }

    .item-price-new,
    .item-price-old {
        font-size: 12px; /* Further adjusted font size for even smaller screens */
    }
}
