.descriptionbox {
    margin: 120px 170px; /* Initial margin */
}

.descriptionbox-navigator {
    display: flex;
}

.descriptionbox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box.fade {
    background: #fbfbfb;
    color: #555;
}

.descriptionbox-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}

@media screen and (max-width: 992px) {
    .descriptionbox {
        margin: 100px 120px; /* Adjusted margin for smaller screens */
    }

    .descriptionbox-description {
        padding: 40px; /* Adjusted padding for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .descriptionbox {
        margin: 80px 60px; /* Further adjusted margin for smaller screens */
    }

    .descriptionbox-description {
        padding: 30px; /* Further adjusted padding for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .descriptionbox {
        margin: 60px 40px; /* Adjusted margin for even smaller screens */
    }

    .descriptionbox-nav-box {
        width: 150px; /* Adjusted width for smaller screens */
        height: 60px; /* Adjusted height for smaller screens */
        font-size: 14px; /* Adjusted font size for smaller screens */
    }

    .descriptionbox-description {
        padding: 20px; /* Further adjusted padding for smaller screens */
    }
}
