.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    color: #626262;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust gap for smaller screens */
}

.nav-login-cart button {
    width: 100px; /* Adjust button width for smaller screens */
    height: 40px; /* Adjust button height for smaller screens */
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    font-size: 16px; /* Adjust font size for smaller screens */
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background-color: #f3f3f3;
}

.nav-cart-count {
    width: 18px; /* Adjust width for smaller screens */
    height: 18px; /* Adjust height for smaller screens */
    display: flex;
    justify-content: center;
    margin-top: -30px; /* Adjust margin for smaller screens */
    margin-left: -40px; /* Adjust margin for smaller screens */
    border-radius: 9px; /* Adjust border radius for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
    background-color: red;
    color: white;
    text-align: center;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .nav-menu {
        gap: 30px; /* Adjust gap for smaller screens */
    }

    .nav-login-cart button {
        width: 90px; /* Adjust button width for smaller screens */
        height: 35px; /* Adjust button height for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .nav-cart-count {
        width: 16px; /* Adjust width for smaller screens */
        height: 16px; /* Adjust height for smaller screens */
        margin-top: -25px; /* Adjust margin for smaller screens */
        margin-left: -30px; /* Adjust margin for smaller screens */
        border-radius: 8px; /* Adjust border radius for smaller screens */
        font-size: 10px; /* Adjust font size for smaller screens */
    }
}
