.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px; /* Initial margin */
    text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
    .breadcrum {
        margin: 60px 120px; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width: 992px) {
    .breadcrum {
        margin: 60px 80px; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .breadcrum {
        margin: 40px 30px; /* Adjusted margin for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .breadcrum {
        margin: 30px 20px; /* Adjusted margin for smaller screens */
    }
}
